*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: ;
}
body{
    background-color: bisque;
    padding: 10;
    text-align: center;
    background-image: url("cat.jpg");
}

/*header*/
h1{
    background-color:blue;
    color: white;
    padding: 10px;
    margin: 15px;
    margin-top: 15px;
    border-radius: 10px;
}
nav{
    align-items: center;
}
nav a{
   color: white;
   text-decoration: none;
   display: inline-block;
   margin: auto 11px;
   font-size: 20px;
}
a:hover{
color:chocolate;
}
section{
    background-color: chocolate;
    padding: 12px;
    border: 2px solid violet;
    margin: auto 300px;
    border-radius: 10px;
    
}
h2{
    font-size: 20px;
    color: blue;
    border-bottom: 4px solid orange;
    display: inline-block;
    margin-bottom: 10px;
}
ul li{
    list-style: none;
    background-color: white;
    margin:10px auto;
    padding: 10px;
    border-radius: 10px;
}